:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --white: #fff;
  --dark: #000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--white);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameCanvas canvas {
  border: 1px solid red;
  z-index: 1;
}