* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #061132;
}

#gameCanvas {
  width: 100%;
  height: 100%;
}

#gameCanvas canvas {
  display: block;
}